/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* body{
  text-align: center;
}
table{
  margin: auto;
}
form{
  margin: 20px auto;
}
input{
  margin: 0px 4px;
}
thead{
  background-color: white;
  position: sticky;
  top: 0px;
} */

body{
  background-color: aquamarine;
}

.translate-page{





























































































































































































































  
}